* {
    margin: 0;
    padding: 0;
    font-family: Ppeditorialnew-Ultralight;
}

body {
    background: #feecd8;
}

/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: white;
    background-color: #D90368;
}

.femtech-small-logo img {
    width: 8rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}
.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}


/* ---- Login-Section ---- */

.login-section {
    display: flex;
    height: 100vh;
}

.login-section img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

.login-section form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
    background-color: #feecd8;
}

.login-titel p {
    font-size: 0.75rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: darkslategrey;
}

.login-titel h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
    color: #333;
}

input {
    margin-top: 0.4rem;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: white;
}

input:focus {
    outline: none;
    border-color: #D90368;
}

.login-section form p {
    font-size: 0.85rem;
    text-decoration: underline;
    margin-bottom: 2rem;
    cursor: pointer;
}

.login-section button {
    background-color: #D90368;
    color: white;
    border: none;
    padding: 0.9rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.login-section button:hover {
    opacity: 0.9;
}

.account {
    font-size: 0.85rem;
}

.account span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}



