* {
    margin: 0;
    padding: 0;
    font-family: Ppeditorialnew-Ultralight;
}

body {
    background: #feecd8;
}

/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: white;
    background-color: #D90368;
}

.femtech-small-logo img {
    width: 8rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}
.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}


/* ---- Login-Section ---- */

main {
    height: 100vh;
}

.Login-Section{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.Login-Section img {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: auto;

}

.Login-Section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20vh;
    background-color: #feecd8;
}

.Login-Section form div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #feecd8;
    padding: 3rem;
}


/* ------ Footer ------ */
footer {
    background-color: #e14182;
    color: white;
    padding: 1rem;
    font-weight: 350;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer-top-left {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SIGNUP {
    border: 0.09rem solid white;
    text-align: center;
    padding: 0.6rem;
    width: 20rem;
    font-weight: 300;
    font-size: 0.9rem;
}

.SIGNUP:hover {
    background-color: #D90368;
    border-color: white;
}

.all-list {
    display: flex;
    gap: 1rem;
    width: 60rem;
    justify-content: space-evenly;
    font-size: 0.9rem;
    font-weight: 300;
    padding-right: 2.5rem;
}

.all-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.all-list li:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 13.5rem;
}

.footer-bottom-left {
    color: white;
    font-size: 0.6rem;
}

.footer-bottom-right {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
}

