* {
    margin: 0;
    padding: 0;
    font-family: Ppeditorialnew-Ultralight;
}

body {
    background: #feecd8;
}

/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: white;
    background-color: #D90368;
}

.femtech-small-logo img {
    width: 8rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}
.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}


/* ---- Login-Section ---- */

main {
    height: 100vh;
}

.Login-Section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login-Section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding: 9rem;
}

.Login-Section form div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 3rem;
}


