* {
    margin: 0;
    padding: 0;
    font-family: Ppeditorialnew-Ultralight;
}

/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background 0.3s ease;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar.scrolled {
    background-color: #D90368;
    color: white;
}
/* #C7B7A3 */
.femtech-small-logo img {
    width: 8rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}
.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}

/* ---- Mission Forside ---- */

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-image: url("imgs/hero-image.jpg");
    background-size: cover;
}

.hero-text {
    display: flex;
    color: white;
    font-size: 10vh;
    padding-right: 74vh;
}

/* ----  Mission text section ---- */
.mission-section {
    background-color: #feecd8;
}

.mission-text em {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    color: black;
    padding: 30vh;
    margin: 0;
}

/* ---- KeyNumber carrousel ---- */

}
.wrapper .card {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    padding: 0;
}

.wrapper .card:hover {
    transform: translateY(-10px);
}

.card .card-key-numbers div {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 30vh;
    color: white;
    background-color: deeppink;
    padding-top: 5vh;
    border-radius: 5vh;
}

.card .card-key-numbers .card-tag {
    position: absolute;
    left: 25px;
    top: 25px;
    color: white;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.5vh;
    background: lightpink;
}

.card .card-content .card-title {
    background-color: cadetblue;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 15px;

}
.card .card-footer .card-button {
    color: #feecd8;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.81rem;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(135deg, blue 0%, violet);
    box-shadow: 0 8px 15px rgba(99, 102, 241, 0.2);
    transition: all 0.3s ease;
}

.card .card-footer .card-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}

