* {
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', serif;
}

/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background 0.3s ease;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar.scrolled {
    background-color: #D9036880;
    color: white;
}
/* #C7B7A3 */
.femtech-small-logo img {
    width: 8rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}
.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}

/* ---- Mission Forside ---- */

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-image: url("imgs/hero-image.jpg");
    background-size: cover;
}

.hero-text {
    display: flex;
    color: white;
    font-size: 10vh;
    padding-right: 74vh;
}

/* ----  Mission text section ---- */

.mission-section {
    background-color: beige;
}

.mission-text p {
    display: flex;
    justify-content: center;
    font-family: 'Old Standard TT', serif;
    font-size: 4vh;
    color: black;
    padding: 30vh;
    margin: 0;
}

/* Image carrousel section */

}


.wrapper .card {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: row;
    background: #D90368;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.wrapper .card:hover {
    transform: translateY(-10px);
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    width: 100%;
    border-radius: 22px;
    padding: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card .card-image .card-tag {
    position: absolute;
    left: 25px;
    top: 25px;
    color: white;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.5vh;
    background: lightcoral;
}

.card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 25px;
}

.card .card-content .card-title {
    color: cadetblue;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 15px;

}

.card .card-content .card-text {
    color: deeppink;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 20px;

}
.card .card-content .card-footer {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: auto;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.card .card-footer .card-profile {
    display: flex;
    align-items: center;

}

.card .card-profile img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px #D90368;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.card .card-profile .card-profile-info {
    display: flex;
    flex-direction: column;
}

.card .card-profile .card-profile-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: midnightblue;
}

.card .card-profile .card-profile-role {
    font-size: 0.8rem;
    color: lightskyblue;
}

.card .card-footer .card-button {
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.81rem;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(135deg, blue 0%, violet);
    box-shadow: 0 8px 15px rgba(99, 102, 241, 0.2);
    transition: all 0.3s ease;
}

.card .card-footer .card-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}

/* ------ Footer ------ */
footer {
    background-color: #e14182;
    color: white;
    padding: 1rem;
    font-weight: 350;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer-top-left {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SIGNUP {
    border: 0.09rem solid white;
    text-align: center;
    padding: 0.6rem;
    width: 20rem;
    font-weight: 300;
    font-size: 0.9rem;
}

.SIGNUP:hover {
    background-color: #D90368;
    border-color: white;
}

.all-list {
    display: flex;
    gap: 1rem;
    width: 60rem;
    justify-content: space-evenly;
    font-size: 0.9rem;
    font-weight: 300;
    padding-right: 2.5rem;
}

.all-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.all-list li:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 13.5rem;
}

.footer-bottom-left {
    color: white;
    font-size: 0.6rem;
}

.footer-bottom-right {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
}