* {
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', serif;
}

/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background-color: #445E93;
    color: white;
}

.femtech-small-logo img {
    width: 4.5rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}
.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}


/* ---------------- FORSIDE ---------------- */

.frontpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 63rem;
    background-image: url("imgs/womenTech.jpg");
    background-size: cover;
    background-position: center;
}

.button-getStarted-frontpage button {
    background-color: white;
    color: #D90368;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10rem;
    font-size: 1.5rem;
    cursor: pointer;

}

.button-getStarted-frontpage button:hover {
    background-color: lightgray;
}


.femtech-big-logo img {
    width: 25rem;
    height: auto;
}

/* ---------------- ROLLEMODELLER OVERSIGT ---------------- */

.role-model-section {
    background-color: #D90368;
    text-align: center;
    padding: 5rem 0;
    color: white;
}

.role-model-titel {
    font-size: 6rem;
}

.role-model-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 0;
}

.role-model-list li {
    width: 15rem;
    text-align: center;
}

.role-model-list img {
    width: 13rem;
    height: auto;
    border-radius: 50%;
    border: none;
}

.full-name {
    font-weight: bold;
    font-size: 1rem;
}


/* ---------------- KNAPPER TIL GRAF ---------------- */

.second-section {
    background-color: white;
    padding: 8rem 0;
    display: flex;
    justify-content: center;
}
.buttons {
    list-style: none;
    display: flex;
    gap: 4rem;
    padding: 0;
    margin: 0;
}

.buttons button {
    background-color: #7EB2DD;
    color: white;
    border: none;
    border-radius: 8rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #445E93;
}


/* ---------------- ROLLEMODEL SEKTIONER ---------------- */

.role-model {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    padding: 10vh;
}

.role-model img {
    width: 40vh;
    height: auto;
    border-radius: 50%;
}

.role-model p {
    font-size: 3vh;
}


/* --- Individuelle farver --- */

.third-section {
    background-color: #D90368;
    color: white;
}

.fourth-section {
    background-color: white;
    color: #D90368;
}

.fifth-section {
    background-color: #D90368;
    color: white;
}

.sixth-section {
    background-color: white;
    color: #D90368;
}

/* ------ Footer ------ */
footer {
    background-color: #445E93;
    color: white;
    padding: 1rem;
    font-weight: 350;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer-top-left {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SIGNUP {
    border: 0.09rem solid white;
    text-align: center;
    padding: 0.6rem;
    width: 20rem;
    font-weight: 300;
    font-size: 0.9rem;
}

.SIGNUP:hover {
    background-color: #7EB2DD;
    border-color: #7EB2DD;
}

.all-list {
    display: flex;
    gap: 1rem;
    width: 60rem;
    justify-content: space-evenly;
    font-size: 0.9rem;
    font-weight: 300;
    padding-right: 2.5rem;
}

.all-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.all-list li:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 13.5rem;
}

.footer-bottom-left {
    color: #7EB2DD;
    font-size: 0.6rem;
}

.footer-bottom-right {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
}