* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    overflow: hidden;
}

body {
    background: #e7e7e7;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.side-nav-container {
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    z-index: 5;
    background: #445E93;
    height: 100vh;
    width: 300px;
    padding: 100px 50px;
    .side-nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        #login-photo {
            border-radius: 100%;
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 15px;
        }

        .side-nav-items {
            text-align: left;
            width: 80%;
            padding-left: 25px;
            #nav-selected {
                font-weight: 600;
            }
            h1 {
                margin-bottom: 15px;
                font-weight: 400;
                font-size: 1.7rem;
            }
            h1:hover {
               font-weight: 600;
            }
        }

    }
}

.main-container {
    background: #e7e7e7;
    margin-left: 400px;
    padding: 35px 25px 10px 25px;
    .main-wrapper {

        display: flex;
        flex-direction: column;
        gap: 10px;
        .dashboard-header {
            font-size: 1.8rem;
            text-align: center;
            h1 { font-weight: 400; }
        }

        .dashboard-grid {
            display: grid;
            padding: 25px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 25px;

            .grid-box-design {
                background: #f4f4f4;
                padding: 20px;
                min-height: 275px;
                box-shadow: 0 8px 20px rgba(0,0,0,0.3);
                border: 1px solid #ccc;
                border-radius: 12px;

                .grid-line {
                    background: black;
                    height: 1px;
                    width: 15%;
                }

                .grid-selection-box  {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h1 {
                        font-weight: 300;
                        font-size: 1.5rem;
                    }
                    ol {
                        margin-left: 10px;
                        li {
                            margin-bottom: 5px;
                        }
                        li:hover {
                            font-weight: 500;
                        }
                    }
                }
                .grid-chart-box {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    h1 {
                        font-weight: 300;
                        font-size: 1.3rem;
                    }
                }

            }
            .box-large {
                grid-column: span 2;
            }
        }
    }

}