* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

html, body {
    background: #e7e7e7;
    overflow: hidden;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.login-photo {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.side-nav-container {
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    z-index: 5;

    background: #D90368;
    height: 100%;
    width: 400px;
    padding: 100px 50px;
    font-family: Alumni Sans Pinstripe;
    .side-nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;

        .side-nav-login {
            p {
                margin-bottom: -7px;
                font-size: 1.2rem;
            }
            h1 {
                font-size: 2.8rem;
            }
        }

        .side-nav-items {
            text-align: left;
            width: 80%;
            padding-left: 25px;
            #nav-selected {
                font-weight: 400;
            }
            h1 {
                margin-bottom: 15px;
                font-weight: 800;
                font-size: 2rem;
            }
            h1:hover {
               font-weight: 400;
            }
        }

    }
}

.main-container {
    background: #e7e7e7;
    margin-left: 400px;
    padding: 25px 25px 25px 25px;
    height: calc(100vh - 50px);
    max-height: 100vh;
    font-family: Ppeditorialnew-Ultralight;
    .main-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 100%;
        .dashboard-header {
            font-size: 1.8rem;
            flex-shrink: 0;
            text-align: center;
            h1 { font-weight: 400; }
        }

        .dashboard-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            align-content: start;
            padding: 25px;
            gap: 25px;

            .grid-box-design {
                background: #f4f4f4;
                padding: 20px;
                min-height: 250px;
                box-shadow: 0 8px 20px rgba(0,0,0,0.3);
                border: 1px solid #ccc;
                border-radius: 12px;

                .grid-line {
                    background: black;
                    height: 1px;
                    width: 15%;
                }

                .grid-selection-box  {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h1 {
                        font-weight: 300;
                        font-size: 1.5rem;
                    }
                }
                .grid-chart-box {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    gap: 15px;
                    h1 {
                        font-weight: 300;
                        font-size: 1.3rem;
                    }
                    .grid-dount-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: calc(100vh - 625px);
                        width: calc(100vh - 475px);
                    }
                }
                .grid-two-numbers {
                    display: flex;
                    flex-direction: row;
                    height: 175px;
                    align-items: center;
                    justify-content: space-evenly;
                    h2 {
                        font-weight: 400;
                        font-size: 1rem;
                    }
                    h3 {
                        font-weight: 500;
                        font-size: 4.5rem;
                        margin-top: 5px;
                        text-align: center;
                    }
                }
                .grid-two-column {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    width: calc(100vh - 475px);
                    ol {
                        li {
                            margin-bottom: 20px;
                            list-style-type: none;
                            text-align: center;
                        }
                    }
                }
                .grid-profile {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    gap: 15%;
                    font-family: Alumni Sans Pinstripe;
                    h2 {
                        margin-bottom: -5px;
                        font-weight: 200;
                    }
                    h3 {
                        font-size: 2.2rem;
                        margin-bottom: 50px;
                    }
                }
                .grid-profile-settings {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    gap: 40%;
                    font-family: Alumni Sans Pinstripe;
                    h3 {
                        font-size: 2.2rem;
                        margin-bottom: 20px;
                        font-weight: 500;
                    }
                    #delete-account {
                        color: red;
                    }
                    h3:hover {
                        font-weight: 800;
                    }
                }


            }

        }
        .box-large {
            grid-column: span 2;
        }
        .box-high {
            grid-row: span 2;
        }
        .box-profile {
            height: calc(100vh - 200px);
            grid-column: span 2;
        }
    }

}

.custom-tooltip {
    background-color: rgba(0, 77, 27, 0.9);
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    font-size: 14px;
    text-align: center;
}

