* {
    margin: 0;
    padding: 0;
    font-family: Ppeditorialnew-Ultralight;
}

body{
    background-color: #feecd8;

}
/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background 0.3s ease;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar.scrolled {
    background-color: #D90368;
    color: white;
}
/* #C7B7A3 */
.femtech-small-logo img {
    width: 8rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}

.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.get-started:link {
    text-decoration: none;
    color: #D90368;
}

.get-started:visited {
    text-decoration: none;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}

/* ---- Mission Forside ---- */
.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-image: url("../imgs/hero-image.jpg");
    background-size: cover;
}

.hero-text {
    display: flex;
    color: white;
    font-size: 10vh;
    padding-right: 74vh;
}

/* ----  Mission text section ---- */
.mission-text em {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color: black;
    padding: 8rem 12rem;
}

/* ----  Carrusel section ---- */
.carousel {
    max-width: 1400px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slides-wrapper {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    gap: 40px;
    transition: transform 0.6s ease;

}

.slide {
    flex: 0 0 calc((100% - 80px) / 3); /* Viser kun 3 slides */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.slide-box {
    width: 100%;
    height: 420px;
    border-radius: 40px;
    background: radial-gradient(circle at center, #e7679b 0%, #D90368 70%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.stat-value {
    font-size: 150px;
    font-weight: 700;
}

.stat-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}

.stat-meta {
    font-size: 20px;
    opacity: 0.7;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    padding-bottom: 3rem;
}

.controls button {
    background: rgba(217, 3, 104, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background: rgba(217, 3, 104, 0.8);
}

/* ------ Footer ------ */
footer {
    background-color: #e14182;
    color: #feecd8;
    padding: 1rem;
    font-weight: 350;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer-top-left {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SIGNUP {
    border: 0.09rem solid #feecd8;
    text-align: center;
    padding: 0.6rem;
    width: 20rem;
    font-weight: 300;
    font-size: 0.9rem;
    color: #feecd8;
    background-color: #e14182;
}

.SIGNUP:hover {
    background-color: #D90368;
    border-color: #feecd8;
}

.all-list {
    display: flex;
    gap: 1rem;
    width: 60rem;
    justify-content: space-evenly;
    font-size: 0.9rem;
    font-weight: 300;
    padding-right: 2.5rem;
}

.all-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.all-list li:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 13.5rem;
}

.footer-bottom-left {
    color: #feecd8;
    font-size: 0.6rem;
}

.footer-bottom-right {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
}
