* {
    margin: 0;
    padding: 0;
    font-family: Ppeditorialnew-Ultralight;
}

/* ---------------- HEADER ---------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: transparent;
    transition: background 0.3s ease;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar.scrolled {
    background-color: #D90368;
    color: white;
}
/* #C7B7A3 */
.femtech-small-logo img {
    width: 8rem;
    height: auto;
    padding-left: 3rem;
}

.nav-bar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-bar a:hover {
    font-size: 1.1rem;
}
.button-getStarted{
    padding-right: 3rem;
}

.button-getStarted button {
    background-color: white;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    cursor: pointer;
    color: #D90368;
}

.get-started:link {
    text-decoration: none;
    color: #D90368;
}

.get-started:visited {
    text-decoration: none;
    color: #D90368;
}

.button-getStarted button:hover {
    background-color: lightgray;
}




/* ---------------- FORSIDE ---------------- */

.frontpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45rem;
    width: auto;
    background-image: url("../imgs/rolemodel.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 20rem;
}

.frontpage img{
    padding-bottom: 2rem;
}
/* ---------------- ROLLEMODELLER OVERSIGT ---------------- */

.role-model-section {
    background-color: #feecd8;
    text-align: center;
    padding: 5rem 0;
    color: black;
}

.role-model-titel {
    font-size: 6rem;
    padding-bottom: 2rem;
}

.role-model-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 0;
}

.role-model-list li {
    width: 15rem;
    text-align: center;
}

.role-model-list img {
    width: 13rem;
    height: auto;
    border-radius: 50%;
    border: none;
}

.full-name {
    font-weight: bold;
    font-size: 1rem;
}

/* ---------------- ROLLEMODEL SEKTIONER ---------------- */

.role-model {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    padding: 10vh;
}

.role-model img {
    width: 40vh;
    height: auto;
    border-radius: 50%;
}

.role-model p {
    font-size: 3vh;
}

/* --- Tekst Styling --- */

.role-model-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.message{
    font-style: italic;
}


/* --- Individuelle farver --- */

.third-section {
    background-color: #D90368;
    color: #feecd8;
}

.fourth-section {
    background-color: #feecd8;
    color: #D90368;
}

.fifth-section {
    background-color: #D90368;
    color: #feecd8;
}

.sixth-section {
    background-color: #feecd8;
    color: #D90368;
}

/* ------ Footer ------ */
footer {
    background-color: #e14182;
    color: #feecd8;
    padding: 1rem;
    font-weight: 350;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer-top-left {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SIGNUP {
    border: 0.09rem solid #feecd8;
    text-align: center;
    padding: 0.6rem;
    width: 20rem;
    font-weight: 300;
    font-size: 0.9rem;
    color: #feecd8;
    background-color: #e14182;
}

.SIGNUP:hover {
    background-color: #D90368;
    border-color: #feecd8;
}

.all-list {
    display: flex;
    gap: 1rem;
    width: 60rem;
    justify-content: space-evenly;
    font-size: 0.9rem;
    font-weight: 300;
    padding-right: 2.5rem;
}

.all-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.all-list li:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 13.5rem;
}

.footer-bottom-left {
    color: #feecd8;
    font-size: 0.6rem;
}

.footer-bottom-right {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
}